* {
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    color: white;
}
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.loader {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.spinner {
  height: 10vh;
  width: 10vh;
  border: 6px solid rgba(0, 0, 0, 0.0);
  border-top-color: rgba(255, 255, 255, 1.0);
  border-radius: 100%;
  animation: rotation 2.0s infinite linear 0.25s;
  opacity: 0;
}
@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}
